@if (IsVisible)
{

        <div role="alert" class="alert flex justify-content-sm-between @(IsValid?"alert-success" : "alert-danger" )">
            <span class="font-weight-bold">@ChildContent </span>
            <a href="#" @onclick:preventDefault @onclick="OnClickClose"><span class="oi oi-circle-x"></span></a>
        </div>

}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public bool IsValid { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void OnClickClose()
    {
        IsVisible = false;
    }
}
