@page "/adduser"
@inject UserService Service


<h3>AddUser</h3>
<hr />

<AlertComponent IsValid="IsValid" IsVisible="IsVisible">
    <span>@Message</span> 
</AlertComponent>


<EditForm Model="@UserObj" OnValidSubmit="OnFormValid">
    <div class="col-md-8">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label class="control-label" for="FirstName">First Name</label>
            <InputText @bind-Value="UserObj.FirstName"  class="form-control" />
            <ValidationMessage For="(()=> UserObj.FirstName)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label class="control-label" for="FirstName">Last Name</label>
            <InputText @bind-Value="UserObj.LastName" class="form-control"  @onkeyup="(e)=>OnKeyUp(e)"/>
            <ValidationMessage For="(()=> UserObj.LastName)"></ValidationMessage>
        </div>
        <div class="form-group">
            <label class="control-label" for="Username">Username</label>
            <InputText @bind-Value="TempUsername" class="form-control" readonly />
            <ValidationMessage For="(()=> UserObj.Username)"></ValidationMessage>
        </div>
        <div class="form-group">
            <a href="Users" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>


@code {
    private User UserObj = new User();
    private bool IsValid = false;
    private bool IsVisible = false;
    private string Message = "";
    private string TempUsername = "";

    private void OnFormValid()
    {
        Service.AddUser(UserObj);
        IsValid = true;
        IsVisible = true;
        Message = "User Added successfully";
    }


    private void OnKeyUp(KeyboardEventArgs e )
    {
        if(!string.IsNullOrEmpty(UserObj.FirstName) &&
            !string.IsNullOrEmpty(UserObj.LastName)  )
            TempUsername = UserObj.FirstName.Substring(0, 1).ToUpper() + "." + UserObj.LastName.ToLower();

    }
}
