@page "/auth/register"
@layout AuthLayout



<div class="row">
    <div class="col-sm-12">
         <h4>Register</h4>
         <EditForm Model="@RegisterModel" OnValidSubmit="RegisterUser">
             <DataAnnotationsValidator></DataAnnotationsValidator>

             <div class="form-group">
                 <label class="control-label" for="FirstName">First Name</label>
                 <InputText id="Firstname" @bind-Value="RegisterModel.FirstName" class="form-control" />
                 <ValidationMessage For="(() => RegisterModel.FirstName)"></ValidationMessage>
             </div>
             <div class="form-group">
                 <label class="control-label" for="LastName">First Name</label>
                 <InputText id="LastName" @bind-Value="RegisterModel.LastName" class="form-control" />
                 <ValidationMessage For="(() => RegisterModel.LastName)"></ValidationMessage>
             </div>
             <div class="form-group">
                 <label class="control-label" for="Email">Email</label>
                 <InputText id="Email" @bind-Value="RegisterModel.Email" class="form-control" />
                 <ValidationMessage For="(() => RegisterModel.Email)"></ValidationMessage>
             </div>
             <div class="form-group">
                 <label class="control-label" for="Password">Password</label>
                 <InputText id="Password" @bind-Value="RegisterModel.Password" class="form-control" />
                 <ValidationMessage For="(() => RegisterModel.Password)"></ValidationMessage>
             </div>
             <div class="form-group">
                 <label class="control-label" for="Password">Confirm Password</label>
                 <InputText id="ConfirmPassword" @bind-Value="RegisterModel.ConfirmPassword" class="form-control" />
                 <ValidationMessage For="(() => RegisterModel.ConfirmPassword)"></ValidationMessage>
             </div>
             <div>
                 <button type="submit" class="btn btn-outline-primary">Register</button>
                 <a class="d-inline-block btn btn-outline-secondary" href="/auth/login">Login</a>
             </div>
             
         </EditForm>
    </div>

</div>

@code {
    RegisterRequest RegisterModel = new RegisterRequest();

    public void RegisterUser()
    {

    }
}
