@inherits LayoutComponentBase

    <div class="col-sm-12 modal-dialog-centered">
        <div class="m-auto col-sm-6 p-3 border shadow">
            <h3 class="text-center">Authentication</h3>
            @Body
        </div>
    </div>


@code {

}
